<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<% link_name = 'Back to tasks' %>
<h2><%= link_to link_name, tasks_path %></h2>
